<form (ngSubmit)="submit()" [formGroup]="group" >
    <input type="text" formControlName="author" />
    <span *ngIf="!(group.controls['author'].pristine || group.controls['author'].valid)">De naam is verplicht</span>
    <br/>
    <input type="text" formControlName="text" />
    <span *ngIf="!(group.controls['text'].pristine || group.controls['text'].valid)">een review is verplicht</span>
    <br/>
    <input type="number" formControlName="score" />
    <span *ngIf="group.controls['score'].invalid">
        <span *ngIf="this.group.controls['score'].hasError('min')">Score moet groter of gelijk zijn dan 0</span>
        <span *ngIf="this.group.controls['score'].hasError('max')">Score kleiner of gelijk aan 5</span>
    </span>
    <br/>
    <button type="submit" [disabled]="this.group.invalid">Save</button>
</form>
